<div id="profileWrapper">

 <% for a in [:notice, :alert, :error, :greeting] do if !flash[a].nil? %>
      <div id="flash"><b><%= flash[a] %></b></div>
    <% end %>
    <% end %>
	<div id="profileSidebar">
		<div id="profilePic"></div>

		<ul id="sidebarLinks">
			<li id="userProfileWelcome">Hello! @<%= current_user.uname %></li>
			<!-- <li><a href="/profile_edit">Edit Profile</a></li> -->
			<li id="followinglist">Following</li>
			<li><div id="slidedown">  <% for a in followinglistgenerator(current_user, current_user.id) %>
                                      <%= "<a href='/users/#{a.following_id}'> #{User.find(a.following_id).uname} </a>" %>
                                      <br>
                                      <% end %> 
			 </div></li>
			<li id="followerlist">Followers</li>
			<li><div id="slidedown2">  <% for a in followerlistgenerator(current_user, current_user.id) %>
                                     <%= "<a href='/users/#{a.follower_id}'> #{User.find(a.follower_id).uname} </a>" %>
                                      <br>
                                      <% end %> 
			 </div></li>
			 <li><a href="/my_posts">My Posts</a></li>
		</ul>
	</div>
	<div id="profileEditContent">
		<h2>Edit Your Profile</h2>
		<form class="profileEditForm" method='POST' action='/profile_edit'>
			<label for="fname">Add or update your first name:</label>
			<input type="text" name="fname" placeholder=
				<% if current_user.fname == nil %>
				"We have nothing on file yet!"
				<% else %> 
				<%= "#{current_user.fname}" %>
				<% end %> >

			<label for="lname">Add or update your last name:</label>
			<input type="text" name="lname" placeholder=
				<% if current_user.lname == nil %>
				"We have nothing on file yet!"
				<% else %> 
				<%= "#{current_user.lname}" %>
				<% end %> >

			<label for="email">Update your email address:</label>
			<input type="email" name="email" placeholder=<%= "#{current_user.email}" %> >

			<label for="pwd">Change your password:</label>
			<input type="password" name="pwd" value=<%= "#{current_user.pwd}" %> >
			<label for="cfpwd">Confirm password:</label>
			<input type="password" name="cfpwd" value=<%= "#{current_user.pwd}" %> required >

			<input id="make_changes" name="make_changes" type="submit" value="Make Changes" style="margin:0 0 30px 0;">

		</form>

		<h2>Delete Your Account</h2>
		<form class="profileEditForm" method='POST' action='/delete_account'>
			<label for="pwd">Deleting your account is permanent! Please enter your password to continue:</label>
			<input type="password" name="pwd" required>
			<input id="delete_account" type="submit" value="Delete Account" style="margin:0" />
		</form>

	</div>
</div>

