<div id="profileWrapper">

 <% for a in [:notice, :alert, :error, :greeting] do if !flash[a].nil? %>
      <div id="flash"><b><%= flash[a] %></b></div>
    <% end %>
    <% end %>
	<div id="profileSidebar">
		<div id="profilePic"></div>

		<input formMethod='POST' formAction='/profile' id="follow_button" type="submit" value="Follow Me!">

		<ul id="sidebarLinks">
			<li id="userProfileWelcome">Hello! User: @<%= current_user.uname %></li>
			<li><a href="/profile_edit">Edit Profile</a></li>
			<li id="followinglist">Following</li>
			<li><div id="slidedown">  <% for a in current_user.followings %>
                                      <%= User.find(a.id).uname %>
                                      <br>
                                      <% end %> 
			 </div></li>
			<li id="followerlist">Followers</li>
			<li><div id="slidedown2">  <% for a in current_user.followers %>
                                      <%= User.find(a.id).uname %>
                                      <br>
                                      <% end %> 
			 </div></li>
		</ul>
	</div>
	<div id="profileEditContent">
		<h2>Edit Your Profile</h2>
		<form id="profileEditForm" method='POST' action='/profile_edit'>
			<label for="fname">Add or update your first name:</label>
			<input type="text" name="fname" value=
				<% if current_user.fname == nil %>
				"We have nothing on file yet!"
				<% else %> 
				<%= "#{current_user.fname}" %>
				<% end %> />

			<label for="lname">Add or update your last name:</label>
			<input type="text" name="lname" value=
				<% if current_user.lname == nil %>
				"We have nothing on file yet!"
				<% else %> 
				<%= "#{current_user.lname}" %>
				<% end %> />

			<label for="email">Update your email address:</label>
			<input type="email" name="email" value=<%= "#{current_user.email}" %> required/>

			<label for="pwd">Change your password:</label>
			<input type="password" name="pwd" value=<%= "#{current_user.pwd}" %> required/>
			<!-- <label for="pwd">Confirm new password:</label>
			<input type="password" name="cfpwd"/> -->

			<input id="make_changes" name="make_changes" type="submit" value="Make Changes"/>

       </form>
	
		<label for="delete_account">Deleting your account is permanent! You will not be able to recover any data once your account has been removed.</label><br>
       <input id="delete_account" type="submit" value="Delete Account"/>
	
	</div>
</div>

