<div id="profileWrapper">

 <% for a in [:notice, :alert, :error, :greeting] do if !flash[a].nil? %>
      <div id="flash"><b><%= flash[a] %></b></div>
    <% end %>
    <% end %>
	<div id="profileSidebar">
		
       <a href="/profile"><div id="profilePic"></div> </a>
       <% if current_user.id == 1 || current_user.id == 3 %>
		<%= "<a href='/admin'> <input id='follow_button' type='submit' value='Admin Page'> </a>"%>
		<% end %>
		
		<ul id="sidebarLinks">
			<li id="userProfileWelcome">Hello! @<%= current_user.uname %></li>
			
			<li id="followinglist">Following</li>
			<li><div id="slidedown">  <% for a in followinglistgenerator(current_user) %>
                                      <%= "<a href='/users/#{a.following_id}'> @#{User.find(a.following_id).uname} </a>" %>
                                      <br>
                                      <% end %> 
			 </div></li>
			 
			<li id="followerlist">Followers</li>
			<li><div id="slidedown2">  <% for a in followerlistgenerator(current_user) %>
                                     <%= "<a href='/users/#{a.follower_id}'> @#{User.find(a.follower_id).uname} </a>" %>
                                      <br>
                                      <% end %> 
			 </div></li>

			<li><a href="my_posts">My Posts</a></li>
			<li><a href="/profile_edit">Edit Profile</a></li>

		</ul>
	</div>
	<div id="postFeed">
		<h2>Recent Tails</h2>
		<form id="makePost" method='POST' action='/profile'>
			<textarea id="write" name="body" placeholder="Start typing your new post here..."></textarea>
			<br/>
			<input id="post_submit" type="submit" value="Post" >
		</form>
		<div id="feed">

			<div class="post" id="f3"><%= superPostgenerator(current_user,9) %></div>
			<div class="post" id="f4"><%= superPostgenerator(current_user,8) %></div>
			<div class="post" id="f3"><%= superPostgenerator(current_user,7) %></div>
			<div class="post" id="f4"><%= superPostgenerator(current_user,6) %></div>
			<div class="post" id="f5"><%= superPostgenerator(current_user,5) %></div>
			<div class="post" id="f6"><%= superPostgenerator(current_user,4) %></div>
			<div class="post" id="f7"><%= superPostgenerator(current_user,3) %></div>
			<div class="post" id="f8"><%= superPostgenerator(current_user,2) %></div>
			<div class="post" id="f9"><%= superPostgenerator(current_user,1) %></div>
			<div class="post" id="f1"><%= superPostgenerator(current_user,0) %></div>

		</div>
	</div>
</div>

